* {
  box-sizing: border-box;
  /* border: 2px dashed grey; */
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
}

/*---NAV BAR ---*/

.main-header__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0ed;
  padding: 0px 20px;
}

.main-header__div-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-header__title {
  color: #393939;
  font-size: 3.06rem;
  font-weight: 300;
}

.menu-nav {
  display: flex;
}

.menu-nav__list {
  font-size: 1.313rem;
  /* display: flex;
  flex-direction: row-reverse; */
}

.menu-nav__item {
  display: inline-block;
  margin: 0.313rem;
  padding: 0.063rem;
}

.menu-nav__link {
  text-decoration: none;
  color: #393939;
}

.menu-nav__link:hover {
  color: #5bacc3;
  cursor: pointer;
}
