/*---NAV BAR ---*/

.index__header-title {
  color: #393939;
  font-size: 2.06rem;
  font-weight: 300;
}

.index__nitro-navbar {
  background-color: #fff0ed;
}

.index__nav-list {
  font-size: 1.313rem;
  font-weight: 400;
}

/*---NITRO COFFEE ---*/

.index__nitro-coffee {
  background-color: #fff0ed;
}

.index__title,
.index__products-title {
  font-size: 3.75rem;
  font-weight: 300;
  color: #393939;
}

.index__header-parag,
.index__hours-parag,
.index__address-parag {
  font-size: 1.125rem;
  font-weight: 400;
  color: #393939;
}

.button__shop-now,
.button__view-all {
  padding: 0.5rem;
  background-color: #5bacc3;
  color: white;
  font-size: 1.313rem;
  border: none;
}

/*---PRODUCTS---*/
.index__products-item,
.index__address-title,
.index__hours-title,
.index__social-title {
  font-size: 2.063rem;
  font-weight: 300;
  color: #393939;
}

.index__products-price {
  font-size: 1.313rem;
  color: #5bacc3;
}

.index__discount-description {
  font-size: 2.813rem;
  font-weight: 400;
  color: white;
  margin: 0px;
  margin-left: 6.25rem;
}

.index__discount {
  background-color: #393939;
  min-width: 100%;
  max-width: 100%;
}

.footer__div {
  background-color: #fff0ed;
}

.icons {
  min-width: 50px;
  max-width: 120px;
}

.products__image {
  min-height: 15rem;
  max-height: 34.375rem;
}

.index__hours-bold {
  font-weight: bold;
}

.index__discount-bold {
  font-weight: 700;
}

.index__coffee-bag {
  min-width: 6%;
  max-width: 100%;
}
