/*---NITRO COFFEE SECTION ---*/

.main-header {
  background-color: #fff0ed;
}

.index-coffee {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.index-coffee__div {
  width: 50%;
  text-align: left;
}

.index-coffee__parag {
  text-align: left;
  width: 65%;
  padding: 0 15px;
}

.index-coffee__title {
  font-size: 3.75rem;
  font-weight: 300;
  color: #393939;
  margin: 10px 0px 10px 0px;
}

.index-coffee__parag,
.index-hours__parag,
.index-address__parag {
  font-size: 1.125rem;
  font-weight: 400;
  color: #393939;
}

.btn__shop-now,
.btn__view-all,
.btn-learn-more {
  padding: 0.5rem 1rem;
  background-color: #5bacc3;
  color: white;
  font-size: 1.313rem;
  border: none;
  text-decoration: none;
}

/*---PRODUCTS SECTION---*/

h3 {
  font-size: 2.063rem;
  font-weight: 300;
  color: #393939;
}

.index-products__section {
  background-color: #f7f7f7;
}

.index-products__item {
  text-align: center;
}

.index-products__title {
  text-align: center;
  font-size: 3.75rem;
  font-weight: 300;
  color: #393939;
  margin: 0px;
}

/* --- PRODUCTS CARD CSS --- */
.index-products,
.index-products__div {
  padding: 40px;
}

.index-products__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.index-products__image-div {
  padding: 20px;
}

.index-products__list li {
  text-align: center;
  border: 1px solid #c9c9c9;
  box-shadow: 0px 5px 9px -1px rgb(0 0 0 / 15%);
  border-radius: 10px;
  min-width: 330px;
  max-width: 350px;
  min-height: 440px;
  max-height: 460px;
  background-color: white;
}

.index-products__list li:hover {
  border-color: #c78c19;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.btn__view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;
}

.index-products__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0ed;
  padding: 20px;
}

.index-products__copy {
  text-align: left;
}

.index-products__item {
  font-size: 2.063rem;
  font-weight: 300;
  color: #393939;
  margin-top: 21px;
  margin-bottom: 0;
  text-align: left;
}

.index-products__subtitle {
  margin-top: 5p;
  text-align: left;
  color: #909090;
}

.index-products__price {
  font-size: 2.063rem;
  color: #5bacc3;
  text-align: center;
}

/*--DISCOUNT ---*/

.index-discount__description {
  font-size: 2.813rem;
  font-weight: 400;
  color: white;
  text-align: center;
  padding: 20px 25px;
}

.index-discount {
  background-color: #393939;
  max-width: 90%;
  margin: 120px 100px;
  /* padding: 10px; */
}

.index-discount__bold {
  font-weight: 700;
}

.index-discount__main {
  display: flex;
  justify-content: space-between;
}

.index-discount__icons {
  display: flex;
  justify-content: space-between;
}

.icons {
  min-width: 3.125rem;
  max-width: 7.5rem;
  width: 50px;
}

.icons img {
  max-width: 100%;
}

.index-products__image {
  min-height: 15rem;
  max-height: 34.375rem;
}

.index-coffee__bag {
  width: 15rem;
  margin-left: 10px;
}

/* --- FOOTER--- */

.index-footer__div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff0ed;
  padding: 20px;
}

.index-address__parag,
.index-hours__parag {
  margin: 0;
  padding: 0px;
}

.index-address__title {
  margin: 30px 0;
  padding: 0px;
}

.index-hours__bold {
  font-weight: bold;
}
