/*---NAV BAR ---*/

.menu__header-title {
  color: #393939;
  font-size: 2.06rem;
  font-weight: 300;
}

.menu__nav-list {
  font-size: 1.313rem;
}

/* --- MENU CSS style --- */

.menu__title {
  color: white;
  background-color: #393939;
  font-size: 3.75rem;
  font-weight: 300;
  min-width: 17.5rem;
  max-width: 18.75rem;
  min-height: 11.25rem;
  max-height: 12.5rem;
  text-align: center;
}

.menu__main-div {
  color: #393939;
}

.menu__title_div {
  background-image: url(../assets/Assets-Package/coffee-circle.jpg);
  min-width: 100%;
  max-width: 100%;
  min-height: 35.938rem;
  max-width: 37.5rem;
  background-position: center;
  background-size: cover;
}

.menu__main-list {
  text-align: center;
  font-size: 1.313rem;
  font-weight: 400;
}

.menu__main-nav {
  background-color: #393939;
}

.menu__main-list a {
  text-decoration: none;
  color: white;
}

/* --- BODY CSS style --- */

.menu__hot-drinks,
.menu__pastries {
  background-color: #fff0ed;
}

.menu__cold-drinks {
  background-color: #f7f7f7;
}

.menu__drinks-title {
  color: #393939;
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
}
.menu__drinks-item {
  color: #393939;
  font-size: 2.063rem;
  font-weight: 300;
  text-align: center;
}

.menu__drinks-description {
  color: #393939;
  font-size: 1.125rem;
  font-weight: 400;
  width: 33%;
  text-align: center;
  font-style: italic;
}

.menu__drinks-price {
  color: #5bacc3;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
}
